<%- include('./partials/head.ejs') %>
<%- include('./partials/headerLogged.ejs') %>
<div class="row align-items-center">
    <div class="row">
        <h1>Your Terve</h1>
        <p>Welcome to your profile!</p>
        <p> Check your summary from any week or month in the summary section.</p>
        <p> Report your morning or evening data in the reporting section.</p>
        <p> Access any section from the top bar.</p>
    </div>
    <div class="row gy-5">
        <div class="col-6">
            <p>Your average mood today is <%= today %>/5</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"  style=<%= todayBar %>></div>
            </div>
        </div>
        <div class="col-6">
            <p>Your average mood today was <%= yesterday %>/5</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style=<%= yesterdayBar %>></div>
            </div>
        </div>
    </div>
    <div class="row gy-3">
        <div class="col">
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <strong>Notification: </strong> <%= message %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
        </div>
    </div>
</div>
<%- include('./partials/footer.ejs') %>