<%- include('./partials/headerLogged.ejs') %>
<h1>Reporting dashboard</h1>
<p>Add your daily data in the morning or evening</p>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Morning</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Evening</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <form method="POST" action="/behavior/reporting/morning" class="row g-3">
            <div class="col-md-2">
                <label for="date" class="form-label">Report date</label>
                <input type="date" class="form-control" name="date" id="date" value="<%= reports.date %>" required>
            </div>
            
            <div class="col-md-3">
                <label for="sleepT" class="form-label">Sleep duration (In hours with decimals)</label>
                <input type="number" class="form-control" min="0" max="24" id="sleepT" name='sleepT' value="0" required>
            </div>
            <label for="sleepQ" class="form-label">Sleep quality (0 is bad, 5 for magic pillows)</label>
            <div class="input-group">
                <div class="input-group-text">0</div>
                <div class="input-group-text"><input type="range" class="form-range" min="0" max="5" step="1" id="sleepQ" name='sleepQ'></div>
            </div>
            <label for="mood" class="form-label">Generic mood (0 is Bad :( 5 is Super!)</label>
            <div class="input-group">
                <div class="input-group-text">0</div>
                <div class="input-group-text"><input type="range" class="form-range" min="0" max="5" step="1" id="mood" name='mood'></div>
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary">Submit!"</button>
            </div>
        </form>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <form method="POST" action="/behavior/reporting/evening" class="row gy-2 gx-3 align-items-center">
                <div class="col-auto">
                <label for="date" class="form-label">Report date</label>
                <input type="date" class="form-control" name="date" id="date" value="<%= reports.date %>" required>
                </div>
                <div class="col-auto">
                    <label for="sportsT" class="form-label">Time spent on sports and exercise (in hours with decimals)</label>
                    <input type="number" class="form-control" min="0" max="24" id="sportsT" name='sportsT'>
                </div>
                <div class="col-auto">
                    <label for="studyT" class="form-label">Time spent studying (in hours with decimals)</label>
                    <input type="number" class="form-control" min="0" max="24" id="studyT" name='studyT'>
                </div>
                <div class="col-auto">
                    <label for="eatingR" class="form-label">Regularity and quality of eating (0 is bad, 5 is yum!)</label>
                    <input type="range" class="form-range" min="0" max="5" step="1" id="eatingR" name='eatingR'>
                </div>
                <div class="col-auto">
                    <label for="mood" class="form-label">Generic mood (0 is bad, 5 is super!)</label>
                    <input type="range" class="form-range" min="0" max="5" step="1" id="mood" name='mood'>
                </div>
                <button type="submit" class="btn btn-primary">Confirm</button>
            </form>
        </div>
    </div>
    <div class="mb-3">
        <% if (errors && errors.length > 0) { %>
            <% errors.forEach((error) => { %>
                <div class="mb-3">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Error: </strong> <%= error %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            <% }); %>
        <% } %>
        <% if (notifs && notifs.length > 0) { %>
            <% notifs.forEach((notif) => { %>
                <div class="mb-3">
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        <strong>Notification: </strong> <%= notif %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                </div>
            <% }); %>
        <% } %>
    </div>
    <div class="mb-3">
        <% if (reports) { %>
            <% if (reports.morning) { %>
                <div class="alert alert-success" role="alert">
                <strong>Reminder: </strong> You have already submitted your <strong>morning</strong> report for today!
                </div>
            <% }; %>
            <% if (reports.evening) { %>
                <div class="alert alert-success" role="alert">
                <strong>Reminder: </strong> You have already submitted your <strong>evening</strong> report for today! 
                </div>
            <% }; %>
        <% } %>
    </div>
</div>
  
<%- include('./partials/footer.ejs') %>


