<%- include('./partials/head.ejs') %>
<script src="../../static/summaryCode.js" defer></script>
<%- include('./partials/headerLogged.ejs') %>
<div class="row gy-2">
    <div class="row gy-2">
        <h1>Sumary dashboard</h1>
        <p>Here is your summary. You can check it in a week or month period</p>
    </div>
    <div class="row gy-1">
        <ul class="nav nav-tabs" id="homeTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="week-tab" data-bs-toggle="tab" href="#week" role="tab" aria-controls="week" aria-selected="true">Week</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="month-tab" data-bs-toggle="tab" href="#month" role="tab" aria-controls="month" aria-selected="false">Month</a>
            </li>
        </ul>
        <div class="tab-content row gy-2" id="summaryTabContent">
            <div class="tab-pane fade show active row gy-1" id="week" role="tabpanel" aria-labelledby="week-tab">
                <div class="row gy-1">
                    <div class="col-6">
                        <span>Week number...</span>
                        <select class="form-select" aria-label="Default select example" id="weekNumber">
                            <% for(var i= 1; i < 53; i++) { %>
                                <option value="<%= i %>"><%= i %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="row gy-2">
                    <div class="col-auto">
                        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                            <div class="card-header">Average sleep duration</div>
                            <div class="card-body">
                                <div id="weekSleepD-container" class="card-text"></div>
                            </div>
                            <p class="card-footer bg-primary">Keep going!</p>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                            <div class="card-header">Average time spent on sports and exercise</div>
                            <div class="card-body">
                                <div id="weekSportsT-container" class="card-text"></div>
                            </div>
                            <p class="card-footer bg-secondary">Keep going!</p>
                        </div>
                    </div>    
                    <div class="col-auto">
                        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                            <div class="card-header">Average time spent studying</div>
                            <div class="card-body">
                                <div id="weekStudyT-container" class="card-text"></div>
                            </div>
                            <p class="card-footer bg-success">Keep going!</p>
                        </div>
                    </div> 
                    <div class="col-auto">
                        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                            <div class="card-header">Average sleep quality</div>
                            <div class="card-body">
                                <div id="weekSleepQ-container" class="card-text"></div>
                            </div>
                            <p class="card-footer bg-info">Keep going!</p>
                        </div>
                    </div> 
                    <div class="col-auto">
                        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                            <div class="card-header">Average generic mood</div>
                            <div class="card-body">
                                <div id="weekMood-container" class="card-text"></div>
                            </div>
                            <p class="card-footer bg-dark">Keep going!</p>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="tab-pane fade row gy-1" id="month" role="tabpanel" aria-labelledby="month-tab">
                <div class="row gy-1">
                    <div class="col-6">
                        <label>Pick a month: </label>
                        <select class="form-select" aria-label="Default select example" id="monthNumber">
                            <% for(var i= 1; i < 13; i++) { %>
                                <option value="<%= i %>"><%= i %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="row gy-2">
                    <div class="col-auto">
                        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                            <div class="card-header">Average sleep duration</div>
                            <div class="card-body">
                                <div id="monthSleepD-container" class="card-text"></div>
                            </div>
                            <p class="card-footer bg-primary">Keep going!</p>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                            <div class="card-header">Average time spent on sports and exercise</div>
                            <div class="card-body">
                                <div id="monthSportsT-container" class="card-text"></div>
                            </div>
                            <p class="card-footer bg-secondary">Keep going!</p>
                        </div>
                    </div>    
                    <div class="col-auto">
                        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                            <div class="card-header">Average time spent studying</div>
                            <div class="card-body">
                                <div id="monthStudyT-container" class="card-text"></div>
                            </div>
                            <p class="card-footer bg-success">Keep going!</p>
                        </div>
                    </div> 
                    <div class="col-auto">
                        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                            <div class="card-header">Average sleep quality</div>
                            <div class="card-body">
                                <div id="monthSleepQ-container" class="card-text"></div>
                            </div>
                            <p class="card-footer bg-info">Keep going!</p>
                        </div>
                    </div> 
                    <div class="col-auto">
                        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                            <div class="card-header">Average generic mood</div>
                            <div class="card-body">
                                <div id="monthMood-container" class="card-text"></div>
                            </div>
                            <p class="card-footer bg-dark">Keep going!</p>
                        </div>
                    </div> 
                </div>
           
            </div>
        </div>
    </div>
</div>


<%- include('./partials/footer.ejs') %>